<tr>
    <td>{{title}}</td>
    <td>{{publisher}}</td>
    <td>{{description}}</td>
    <td>{{price}}</td>
    <td>{{date}}</td>
    {{#if isPublishedByCurrentUser}}
        <td>
            <a href='#/delete/{{_id}}'>[Delete]</a>
            <a href='#/edit/{{_id}}'>[Edit]</a>
        </td>
    {{/if}}
</tr>